 body {
    font-family: 'Oswald', sans-serif;
 }

 .tone {
    opacity: .3;
 }

 .circlebutton{ 
    border-radius:16px;
    margin-right: 150px;
   }

.circlebutton1{ 
   border-radius:16px;
    margin-right: 10px;
    margin-top: -36.2px;
   }

   .circlebutton2{ 
      border-radius:16px;
       margin-left: 145px;
       margin-top: -51.9px;
      }

.blackbutton {
   background-color: black;
}

.backgroundheader {
   background-color: #faf5f5;
   padding: 32px, 32px;
   border: 16px solid DodgerBlue;
   border-radius: 16px;
}

.border {
   border: 2px solid DodgerBlue
}

.text1 {
   margin-left: 23%;
   margin-top: 5%;
   font-size: 50px;
}

.text2 {
   margin-left: 23%;
   font-size: 50px;
}

.text3 {
   margin-left: 23%;
   font-size: 25px;
}

.dobloximage{
   margin-left: 60%;
   margin-top: -5%;
}

.line {
   border: 2px solid dodgerblue;
}

.fontsize {
   font-size: 50px;
}